:root {
  --color-primary: #fff;
  --color-primary-light: #fff;
  --color-primary-dark: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-yellow-1: #F7A82D;
  --color-blue-1: #2B57A4;
  --color-green-1: #13973A;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.header {
  font-size: 1.4rem;
  height: 5vh;
  background-color: var(--color-yellow-1);
  display: flex;
  align-items: center;
  justify-content: center; }
  .header a {
    text-decoration: none;
    color: #fff; }

.content {
  display: flex;
  min-height: 95vh; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sdc-sidebar {
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff; }
  @media only screen and (min-width: 2000px) {
    .sdc-sidebar {
      flex: 0 0 14%; } }
  @media only screen and (min-width: 56.25em) {
    .sdc-sidebar {
      border-right: 1.5px solid var(--color-grey-light-4); } }

.sdc-content {
  flex: 1;
  background-color: #fff; }

footer {
  background: black;
  padding: 10px 20px; }

.show {
  display: block !important; }

.active {
  background-color: var(--color-grey-light-2) !important; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: none; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-grey-light-2);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-grey-light-4); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-dark-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 6rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: space-between;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__chevron {
    color: var(--color-yellow-1);
    margin-right: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__chevron {
        visibility: hidden; } }
  @media only screen and (max-width: 56.25em) {
    .side-nav__logo-li {
      display: none; } }
  .side-nav__logo {
    max-width: 250px;
    margin: 0rem auto 3rem;
    padding: 1rem 2rem 1rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__logo {
        margin: 0rem auto; } }
  .side-nav__sub-menu {
    border: 1.5px solid var(--color-grey-light-4);
    background-color: var(--color-grey-light-3); }
    @media only screen and (max-width: 56.25em) {
      .side-nav__sub-menu {
        display: none; } }
  .side-nav__sub-menu-list {
    font-size: 1.2rem;
    list-style: none;
    margin: 3.5rem 3rem 6rem;
    border-bottom: 1px solid var(--color-grey-light-4); }
    .side-nav__sub-menu-list .sub-menu-item {
      height: 100%;
      width: 3px; }
      .side-nav__sub-menu-list .sub-menu-item:last-child {
        padding-bottom: 2rem; }
      .side-nav__sub-menu-list .sub-menu-item .sub-menu-link {
        color: var(--color-grey-dark-1);
        text-decoration: none;
        display: block;
        padding: 1rem 3rem;
        display: flex;
        align-items: center;
        justify-content: start; }
        .side-nav__sub-menu-list .sub-menu-item .sub-menu-link__icon {
          width: 4rem;
          height: auto; }
        .side-nav__sub-menu-list .sub-menu-item .sub-menu-link span {
          margin-left: 1rem; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }
  .side-nav__sub-item {
    background-color: #fff;
    list-style: none;
    width: 100%;
    transform: scaleY(1);
    display: none; }
    .side-nav__sub-item-link {
      padding-left: 6rem;
      padding-bottom: 1rem; }
      .side-nav__sub-item-link:hover {
        background-color: var(--color-grey-light-2) !important; }
      .side-nav__sub-item-link:first-child {
        padding-top: 1rem; }
      .side-nav__sub-item-link a {
        color: var(--color-grey-dark-1);
        text-decoration: none; }

@media only screen and (min-width: 56.25em) {
  .sdc-sidebar-logo {
    display: none; } }

.sdc-card {
  padding-bottom: 2rem; }
  .sdc-card:hover {
    background-color: var(--color-grey-light-2); }
  .sdc-card__img-container {
    padding: 3rem 2rem 2rem;
    border-bottom: 4px solid var(--color-yellow-1);
    margin: 0rem 2rem; }
  .sdc-card__img {
    width: 100%;
    height: auto;
    box-shadow: var(--shadow-light); }
  .sdc-card__text {
    padding: 2rem;
    font-size: 1.5rem;
    color: #000; }

.footer {
  padding: 3rem 5rem;
  background-color: var(--color-grey-light-4); }
  .footer__container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between; }
    .footer__container li, .footer__container p {
      font-size: 1.5rem;
      color: var(--color-grey-dark-2);
      list-style: none; }
      .footer__container li a, .footer__container p a {
        text-decoration: none;
        color: var(--color-grey-dark-2); }
  .footer__icon {
    margin-left: 1.5rem; }

.sdc-content-header {
  margin: 3rem;
  padding: 2rem;
  border-bottom: 1px solid var(--color-grey-light-4); }
  .sdc-content-header__container {
    display: flex;
    justify-content: flex-end; }
  .sdc-content-header__text {
    color: var(--color-grey-light-4);
    font-size: 1.7rem; }
    .sdc-content-header__text:not(:last-child) {
      margin-right: 1rem; }
    .sdc-content-header__text p, .sdc-content-header__text a, .sdc-content-header__text i {
      color: var(--color-grey-light-4);
      text-decoration: none;
      font-size: 1.7rem; }
      .sdc-content-header__text p:hover, .sdc-content-header__text a:hover, .sdc-content-header__text i:hover {
        color: var(--color-grey-dark-2) !important; }

.section-one {
  margin-bottom: 3rem; }
  .section-one__container {
    position: relative;
    text-align: center; }
  .section-one__img {
    width: 100%;
    height: auto; }
  .section-one__nav-container {
    font-size: 1.8rem;
    color: var(--color-grey-light-4);
    position: absolute;
    top: 10%;
    right: 15%; }
    .section-one__nav-container a {
      text-decoration: none;
      color: var(--color-grey-light-4); }
  .section-one__sub-title {
    font-size: 3.5rem;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 20%;
    right: 10%; }
    .section-one__sub-title h1:first-child {
      text-decoration: underline; }
  .section-one__btn {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding: 1rem 1.5rem; }

.section-two {
  margin-bottom: 3rem; }
  .section-two__title {
    display: flex;
    flex-direction: column; }
    .section-two__title h1 {
      margin-left: 6rem;
      font-size: 3.5rem;
      color: #000; }
    .section-two__title .yellow-line {
      margin-left: 6rem;
      width: 16rem;
      height: 0.8rem;
      background-color: var(--color-yellow-1); }
    .section-two__title h4 {
      margin-top: 1rem;
      margin-left: 6rem;
      color: #000;
      font-size: 1.5rem; }
  .section-two__container {
    padding: 1rem 4rem;
    display: flex; }
  .section-two__card {
    flex: 1; }
  .section-two__btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 0rem 4rem; }
  .section-two__btn {
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid var(--color-yellow-1);
    text-decoration: none;
    color: #000;
    font-size: 1.2rem; }

.section-three {
  margin-bottom: 3rem; }
  .section-three__container {
    position: relative;
    text-align: center; }
  .section-three__logo {
    position: absolute;
    right: 10%;
    top: 15%; }
  .section-three h1 {
    font-size: 5rem;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 15%;
    left: 10%; }
  .section-three__text-one {
    position: absolute;
    bottom: 35%;
    left: 10%;
    font-size: 1.4rem;
    color: #fff;
    text-align: left; }
  .section-three__text-two {
    position: absolute;
    bottom: 20%;
    right: 15%;
    font-size: 1.4rem;
    color: #fff;
    text-align: left; }
  .section-three__btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    padding: 1rem 2rem;
    border: 1px solid #000;
    background-color: var(--color-grey-light-3);
    text-decoration: none;
    color: #000;
    font-size: 1.2rem; }

.section-four {
  margin-bottom: 3rem; }
  .section-four__title {
    display: flex;
    flex-direction: column; }
    .section-four__title h1 {
      margin-left: 6rem;
      font-size: 3.5rem;
      color: #000; }
    .section-four__title .black-line {
      margin-left: 6rem;
      width: 16rem;
      height: 0.8rem;
      background-color: #000; }
    .section-four__title h4 {
      margin-top: 1rem;
      margin-left: 6rem;
      color: #000;
      font-size: 1.5rem; }
  .section-four__container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 6rem 2rem; }
    .section-four__container:last-child {
      gap: 1rem; }
    .section-four__container p {
      flex: 1;
      font-size: 1.7rem;
      color: #000;
      align-self: center; }
    .section-four__container img {
      box-shadow: var(--shadow-light);
      width: 100%;
      height: auto; }
  .section-four__card {
    flex: 1;
    background-color: var(--color-grey-light-2);
    padding: 2rem 3rem; }
    .section-four__card:last-child {
      text-align: right; }
    .section-four__card h2 {
      font-size: 2rem;
      color: var(--color-grey-dark-1); }
    .section-four__card p {
      font-size: 1.4rem;
      color: var(--color-grey-dark-2); }
  .section-four__btn-container {
    display: flex;
    justify-content: flex-end; }
  .section-four__btn {
    padding: 1rem 2rem;
    border: 1px solid var(--color-grey-dark-1);
    background-color: var(--color-grey-light-1);
    text-decoration: none;
    color: var(--color-grey-dark-1);
    font-size: 1.2rem; }

.section-five {
  margin-bottom: 3rem; }
  .section-five__container {
    position: relative;
    text-align: center; }
  .section-five__img {
    width: 100%;
    height: auto; }
  .section-five__logo {
    position: absolute;
    top: 15%;
    left: 10%; }
  .section-five h1 {
    font-size: 5rem;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12%;
    right: 10%; }
  .section-five p {
    position: absolute;
    bottom: 15%;
    left: 10%;
    font-size: 1.4rem;
    color: #fff;
    text-align: left; }
  .section-five__btn {
    position: absolute;
    bottom: 15%;
    right: 10%;
    padding: 1rem 2rem;
    border: 1px solid var(--color-grey-dark-1);
    background-color: #fff;
    text-decoration: none;
    color: var(--color-grey-dark-1);
    font-size: 1.2rem; }

.section-six {
  padding-bottom: 3rem; }
  .section-six__title {
    display: flex;
    flex-direction: column; }
    .section-six__title h1 {
      margin-left: 6rem;
      font-size: 3.5rem;
      color: #000; }
    .section-six__title .blue-line {
      margin-left: 6rem;
      width: 16rem;
      height: 0.8rem;
      background-color: var(--color-blue-1); }
    .section-six__title h4 {
      margin-top: 1rem;
      margin-left: 6rem;
      color: #000;
      font-size: 1.5rem; }
  .section-six__container {
    padding: 1rem 4rem;
    display: flex; }
  .section-six__card {
    flex: 1; }
  .section-six__btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 0rem 4rem; }
  .section-six__btn {
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid var(--color-blue-1);
    text-decoration: none;
    color: #000;
    font-size: 1.2rem; }

.section-seven {
  padding-bottom: 3rem; }
  .section-seven__container {
    position: relative;
    text-align: center; }
    .section-seven__container h1 {
      position: absolute;
      top: 15%;
      left: 10%;
      color: #fff;
      font-size: 5rem;
      text-align: left; }
    .section-seven__container p {
      position: absolute;
      bottom: 15%;
      right: 25%;
      color: #fff;
      font-size: 1.5rem;
      text-align: left; }
  .section-seven__logo {
    position: absolute;
    top: 15%;
    right: 10%; }
  .section-seven__btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem; }

.section-eight {
  margin-bottom: 3rem; }
  .section-eight__title {
    display: flex;
    flex-direction: column; }
    .section-eight__title h1 {
      margin-left: 6rem;
      font-size: 3.5rem;
      color: #000; }
    .section-eight__title .green-line {
      margin-left: 6rem;
      width: 16rem;
      height: 0.8rem;
      background-color: var(--color-green-1); }
    .section-eight__title h4 {
      margin-top: 1rem;
      margin-left: 6rem;
      color: #000;
      font-size: 1.5rem; }
  .section-eight__container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 6rem 2rem; }
    .section-eight__container:last-child {
      justify-content: flex-start; }
    .section-eight__container p {
      flex: 1;
      font-size: 1.7rem;
      color: #000;
      align-self: center; }
    .section-eight__container img {
      box-shadow: var(--shadow-light);
      width: 100%;
      height: auto; }
  .section-eight__card {
    background-color: var(--color-grey-light-2);
    padding: 2rem 3rem;
    width: 50%; }
    .section-eight__card:last-child {
      text-align: right; }
    .section-eight__card h2 {
      font-size: 2rem;
      color: var(--color-grey-dark-1); }
    .section-eight__card p {
      font-size: 1.4rem;
      color: var(--color-grey-dark-2); }
  .section-eight__btn-container {
    display: flex;
    justify-content: flex-end; }
  .section-eight__btn {
    padding: 1rem 2rem;
    border: 1px solid var(--color-grey-dark-1);
    background-color: var(--color-grey-light-1);
    text-decoration: none;
    color: var(--color-grey-dark-1);
    font-size: 1.2rem; }

.servicios-section-one {
  margin-top: 6rem;
  margin-bottom: 3rem; }
  .servicios-section-one__title {
    display: flex;
    flex-direction: column; }
    .servicios-section-one__title h1 {
      margin-left: 6rem;
      font-size: 3.5rem;
      color: #000; }
    .servicios-section-one__title .yellow-line {
      margin-left: 6rem;
      width: 16rem;
      height: 0.8rem;
      background-color: var(--color-yellow-1); }
    .servicios-section-one__title h4 {
      margin-top: 1rem;
      margin-left: 6rem;
      color: #000;
      font-size: 1.5rem; }
  .servicios-section-one__container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 6rem 2rem;
    flex-wrap: wrap; }
  .servicios-section-one__text {
    flex: 2;
    font-size: 1.7rem;
    min-width: 50%;
    color: var(--color-grey-dark-1);
    align-self: center; }
  .servicios-section-one__img {
    flex: 1; }
    .servicios-section-one__img img {
      max-width: 100%;
      height: auto; }

.servicios-section-two {
  padding-top: 3rem;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* The dots/bullets/indicators */
  /* Fading animation */ }
  .servicios-section-two .slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto; }
  .servicios-section-two .mySlides {
    display: none; }
  .servicios-section-two .img-footer-text {
    display: none; }
  .servicios-section-two .prev, .servicios-section-two .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
  .servicios-section-two .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .servicios-section-two .prev:hover, .servicios-section-two .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .servicios-section-two .text {
    color: #f2f2f2;
    background-color: var(--color-yellow-1);
    font-size: 1.5rem;
    padding: 3rem 2rem;
    position: absolute;
    top: 10%;
    width: 35%;
    text-align: left; }
  .servicios-section-two .dot-container {
    max-width: 90%;
    margin: auto; }
  .servicios-section-two .dot {
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.6s ease; }
  .servicios-section-two .active, .servicios-section-two .dot:hover {
    opacity: 1; }
  .servicios-section-two .fade {
    animation-name: fade;
    animation-duration: 1.5s; }
  .servicios-section-two .img-footer-container {
    width: 90%;
    margin: auto;
    background-color: var(--color-grey-light-4);
    padding: 3rem 4rem; }
  .servicios-section-two .img-footer-text {
    font-size: 1.3rem; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.servicios-section-three__container {
  max-width: 90%;
  margin: auto; }

.servicios-section-three__cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0; }

.servicios-section-three__cards-item {
  display: flex;
  padding: 2rem; }
  @media (min-width: 30rem) {
    .servicios-section-three__cards-item {
      width: 100%; } }
  @media (min-width: 40rem) {
    .servicios-section-three__cards-item {
      width: 50%; } }
  @media (min-width: 56rem) {
    .servicios-section-three__cards-item {
      width: 33.3333%; } }

.servicios-section-three__card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 0.5rem solid var(--color-yellow-1);
  width: 100%;
  padding-bottom: 2rem; }
  .servicios-section-three__card p {
    color: #000;
    font-size: 2rem; }

.servicios-section-three .servicios-arrow {
  cursor: pointer;
  color: var(--color-grey-light-4);
  text-decoration: underline; }

.servicios-section-four {
  background-color: var(--color-grey-light-2); }
  .servicios-section-four__container {
    display: flex;
    flex-direction: column;
    padding: 4rem 8rem 0rem; }
  .servicios-section-four h4 {
    color: var(--color-grey-dark-1);
    font-size: 2rem; }
  .servicios-section-four__div {
    padding: 2rem 0rem;
    border-bottom: 1px solid var(--color-grey-dark-2);
    font-size: 1.3rem; }
    .servicios-section-four__div:last-child {
      border-bottom: none; }
  .servicios-section-four__licencia-dimar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem; }
    .servicios-section-four__licencia-dimar .servicios-section-four-dimar-img {
      flex: 1; }
      .servicios-section-four__licencia-dimar .servicios-section-four-dimar-img img {
        max-width: 100%;
        height: auto; }
    .servicios-section-four__licencia-dimar p {
      flex: 1;
      font-size: 1.3rem; }
  .servicios-section-four__ruc {
    display: flex;
    flex-direction: column; }
    .servicios-section-four__ruc p {
      font-size: 1.3rem; }
    .servicios-section-four__ruc .ruc-img img {
      max-width: 30%;
      height: auto;
      margin-left: 5rem; }

.maquinaria-section-one {
  padding: 6rem 6rem; }
  .maquinaria-section-one__container {
    display: flex;
    flex-direction: column; }
    .maquinaria-section-one__container h2 {
      font-size: 3rem;
      color: #000;
      border-bottom: 1px solid var(--color-yellow-1);
      margin-bottom: 3rem; }
  .maquinaria-section-one__img-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    margin-bottom: 2rem; }
    .maquinaria-section-one__img-container__div {
      flex: 1;
      min-width: 100px; }
      .maquinaria-section-one__img-container__div img {
        max-width: 100%;
        height: auto; }
  .maquinaria-section-one .border-bottom {
    border-bottom: 1px solid var(--color-grey-dark-3); }

.somos-sdc-section-one__container {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column; }
  .somos-sdc-section-one__container img {
    max-width: 100%;
    height: auto; }

.somos-sdc-section-one__text {
  font-size: 1.5rem;
  color: var(--color-grey-dark-1); }

.proyectos-section-two__container {
  display: flex;
  gap: 2rem;
  color: var(--color-grey-dark-1);
  border-bottom: 1px solid var(--color-blue-1);
  padding: 2rem 0 4rem;
  margin: 4rem 6rem; }
  @media only screen and (max-width: 37.5em) {
    .proyectos-section-two__container {
      flex-direction: column; } }
  .proyectos-section-two__container h2 {
    font-size: 2rem; }
  .proyectos-section-two__container p {
    font-size: 1.3rem; }

.proyectos-section-two__item-one {
  flex: 1; }

.proyectos-section-two__item-two {
  flex: 6;
  display: flex;
  flex-direction: column; }

.proyectos-section-two__text {
  padding: 1rem 0;
  border-bottom: 3px solid var(--color-blue-1); }

.proyectos-section-two__img-container {
  flex: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem; }

.proyectos-section-two__img {
  max-width: 45%; }
  @media only screen and (min-width: 1700px) {
    .proyectos-section-two__img {
      max-width: 30rem; } }
  .proyectos-section-two__img img {
    width: 100%;
    height: auto; }
