.servicios-section-one {
    margin-top: 6rem;
    margin-bottom: 3rem;

    &__title {
        display: flex;
        flex-direction: column;

        h1 {
            margin-left: 6rem;
            font-size: 3.5rem;
            color: #000;
        }

        .yellow-line {
            margin-left: 6rem;
            width: 16rem;
            height: 0.8rem;
            background-color: var(--color-yellow-1);
        }

        h4 {
            margin-top: 1rem;
            margin-left: 6rem;
            color: #000;
            font-size: 1.5rem;
        }
    }

    &__container {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 6rem 2rem;
        flex-wrap: wrap;
    }

    &__text {
        flex: 2;
        font-size: 1.7rem;
        min-width: 50%;
        color: var(--color-grey-dark-1);
        align-self: center;
    }

    &__img {
        flex: 1;
    }
}

.servicios-section-two {
    padding-top: 3rem;

    .slideshow-container {
        max-width: 90%;
        position: relative;
        margin: auto;
      }
      
      /* Hide the images by default */
      .mySlides {
        display: none;
      }

      .img-footer-text {
        display: none;
      }
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        background-color: var(--color-yellow-1);
        font-size: 1.5rem;
        padding: 3rem 2rem;
        position: absolute;
        top: 10%;
        width: 35%;
        text-align: left;
      }

      .dot-container {
        max-width: 90%;
        margin: auto;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 7rem;
        width: 7rem;
        display: inline-block;
        opacity: 0.7;
        transition: opacity 0.6s ease;
      }
      
      .active, .dot:hover {
        opacity: 1;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      .img-footer-container {
        width: 90%;
        margin: auto;
        background-color: var(--color-grey-light-4);
        padding: 3rem 4rem;
      }

      .img-footer-text {
        font-size: 1.3rem;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
}

.servicios-section-three {
  &__container {
    max-width: 90%;
    margin: auto;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }

  &__cards-item {
    display: flex;
    padding: 2rem;
    
    @media (min-width: 30rem){
      width: 100%;
    }
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
  }
  }

  &__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top: 0.5rem solid var(--color-yellow-1);
    width: 100%;
    padding-bottom: 3rem;
  
    p {
      color: #000;
      font-size: 2rem;
    }
  }
}